<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Photo_Selection_Assistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Photo_Selection_Assistant.Properties.Settings>
            <setting name="allFormtas" serializeAs="String">
                <value>10x15,13x18,15x21,10x15 (2в1),A4 (21x30),A3 (30x42),A2 (42x60),Полароид</value>
            </setting>
            <setting name="size" serializeAs="String">
                <value>1x</value>
            </setting>
            <setting name="subfolders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="folderName" serializeAs="String">
                <value>На печать</value>
            </setting>
        </Photo_Selection_Assistant.Properties.Settings>
    </userSettings>
</configuration>